
@{
    ViewBag.Title = "BUY/RENT";
}

<h1>BUY/RENT</h1>
<div class="siteorigin-widget-tinymce textwidget">
    <p><strong>The Leading Hand is available in single and multi-user licences and can be purchased or rented.  </strong></p>
    <p>If you rent Leading Hand and then decide to purchase within the first three months of use, the cost of One Month's rental will be deducted from the purchase price. After that a sliding scale discount will be applied. </p>
    <p> </p>
    <p><strong>If I rent The Leading Hand am I tied to a contract?</strong></p>
    <p>You can rent the single-user licence of The Leading Hand for just one month.  You can then continue to rent or buy it outright.</p>
    <p> </p>
    <p><strong>Will I lose my data if I change my version of The Leading Hand?</strong></p>
    <p>None of your data will be lost when updating your version of The Leading Hand</p>
    <p>eg: getting a multi-user licence or adding more users, adding different modules, changing from Rental Version to Full Version.</p>
    <p> </p>
    <p><strong>If I get a single-user licence, can I use The Leading Hand on more than one computer?</strong></p>
    <p>With the single-user licence, Leading Hand can be installed on more than one computer, such as one at your place of business and one at home HOWEVER it can only be used on one of these at a time and your data will need to be kept up-to-date by following the backup/restore routine.  If you wish to use Leading Hand on more than one computer at the same time you need to get a multi-user licence.</p>
</div>
<div class="siteorigin-widget-tinymce textwidget">
    <p class="rent-paragraph" style="text-align: left;"><a class="rent-anchor style-buttons-secondary" href="contents/data/2018/08/Leading-Hand-SU-Purchase-Form.pdf" target="_blank">BUY Single User </a></p>
</div>
<div class="siteorigin-widget-tinymce textwidget">
    <p class="demo-paragraph"><a class="demo-anchor style-buttons-secondary" href="contents/data/2018/08/Leading-Hand-Rental-Agreement-SU-WEB.pdf" target="_blank">RENT Single User</a></p>
</div>
<div class="siteorigin-widget-tinymce textwidget">
    <p class="rent-paragraph" style="text-align: left;"><a class="rent-anchor style-buttons-secondary" href="contents/data/2018/08/Leading-Hand-MU-Purchase-Form.pdf" target="_blank">BUY Multi User</a></p>
</div>
<div class="siteorigin-widget-tinymce textwidget">
    <p class="demo-paragraph"><a class="demo-anchor style-buttons-secondary" href="contents/data/2018/08/Leading-Hand-Rental-Agreement-MU-WEB.pdf" target="_blank">RENT Multi User</a></p>
</div>
<div class="siteorigin-widget-tinymce textwidget">
    <p>To find out more, please <a href="/contact/">Contact Us</a>.</p>
</div>




