
@{
    ViewBag.Title = "Case Studies";
}

<h2>Case Studies</h2>

<div>
    <h2>What do our customers say about The Leading Hand?</h2>
    <p>The Leading Hand has been servicing the automotive and plant management industry since 1992. In this time we have built up a strong relationship with our loyal and satisfied customers, many of whom have contributed to the development and enhancement of the program.</p>
    <p>
        These are the kinds of businesses which enjoy the benefits of The Leading Hand:<br />
        * One-man operations – including mobile<br />
        * Family workshops<br />
        * Businesses with a large number of staff<br />
        * Operations with workshops in a number of different areas &#8211; even inter-state
    </p>
    <p>We take pride in what we do and strive to help everyone run a successful business. Here are some of their stories.</p>
</div>
<div>
    <p>We looked at many workshop packages and decided The Leading Hand was the best. That was more than 20 years ago. Since then The Leading Hand has gone from strength to strength, improving the professionalism of our workshop management along the way. It is a long-term relationship that has paid big dividends. I'm glad we made that decision.</p>
    <p><strong> Doulman Automotive, Auburn NSW</strong></p>
</div>
<div>
    <p>After looking for months for software for my new workshop, IAME pointed me to the Leading Hand. The main benefits were instant : Customer bookings, Invoicing, Customer History; Different programmable inventory items; Easy printing and SMS to customer and emailing of invoices Most importantly it was able to instantly add on to my current MYOB Software without changing any accounts. Overall it's a workshop life changer and I now could not live without it. Thank you. I love my software!!!</p>
    <p><strong>Mecacycle Australia, Bowral NSW</strong></p>
</div>
<div>
    <p>We do a lot of work with trucks and heavy vehicles and love the vehicle history. For us, this goes back more than 20 years to when we first got Leading Hand. When customers bring up an issue, it is easy to check when work was performed. We also like being able to record when service is due. This feature is great, especially as some vehicles are repaired on-site and we can check when an item service is required.</p>
    <p><strong> R &amp; J Sobey, Napoleons VIC</strong></p>
</div>
<div>
    <p>We have used Leading Hand for 14 years now and can say we would recommend this software to anyone working in the automotive industry. When one of our previous employees decided to open his own workshop and the first thing I told him was to run Leading Hand. Everyone you deal with is helpful and speaks English not techno. We would be lost without the great history aspect of Leading Hand and all our mechanics have no trouble using the software.</p>
    <p><strong>David Glock Automotive, Armidale NSW</strong></p>
</div>
<div>
    <p>We have used Leading Hand for 14 years now and can say we would recommend this software to anyone working in the automotive industry. When one of our previous employees decided to open his own workshop and the first thing I told him was to run Leading Hand. Everyone you deal with is helpful and speaks English not techno. We would be lost without the great history aspect of Leading Hand and all our mechanics have no trouble using the software.</p>
    <p><strong>David Glock Automotive, Armidale NSW</strong></p>
</div>
<div>
    <p>After looking for months for software for my new workshop, IAME pointed me to the Leading Hand. The main benefits were instant : Customer bookings, Invoicing, Customer History; Different programmable inventory items; Easy printing and SMS to customer and emailing of invoices Most importantly it was able to instantly add on to my current MYOB Software without changing any accounts. Overall it's a workshop life changer and I now could not live without it. Thank you. I love my software!!!</p>
    <p><strong>Mecacycle Australia, Bowral NSW</strong></p>
</div>
<div>
    <p>We looked at many workshop packages and decided The Leading Hand was the best. That was more than 20 years ago. Since then The Leading Hand has gone from strength to strength, improving the professionalism of our workshop management along the way. It is a long-term relationship that has paid big dividends. I'm glad we made that decision.</p>
    <p><strong> Doulman Automotive, Auburn NSW</strong></p>
</div>
<div>
    <p>We do a lot of work with trucks and heavy vehicles and love the vehicle history. For us, this goes back more than 20 years to when we first got Leading Hand. When customers bring up an issue, it is easy to check when work was performed. We also like being able to record when service is due. This feature is great, especially as some vehicles are repaired on-site and we can check when an item service is required.</p>
    <p><strong> R &amp; J Sobey, Napoleons VIC</strong></p>
</div>


