
@{
    ViewBag.Title = "Free Demo";
}
<h1>Free Demo</h1>
<div class="loop">
    <p>With the Leading Hand you can create invoices and quotes, produce job-cards, book in and keep track of customers, and look at vehicle and plant maintenance histories. The optional modules help you keep track of stock, create purchase orders, manage fleets, show how your business is performing, and interface with accounting packages like MYOB, Reckon Accounts and Xero.</p>
    <p>By making this workshop software management system part of your team you can be sure each job is done properly, so the business runs smoothly and your customers keep coming back.</p>
    <fieldset>To view a free on-line demonstration of <strong>The Leading Hand</strong>, please complete this form. Click the Send button and an email giving you a link to the demo will be sent to your inbox. Note that the fields marked <strong><span style="color: #ff0000;">*</span> </strong>are mandatory. <a href="/online-demos/privacy/" target="_blank" rel="noopener">(Privacy information)</a></fieldset>
    <form class="wpcf7-form" action="../prospect.php?TESTING=DOWNLOAD&amp;product=LH" method="post" novalidate="novalidate">
        <input name="_wpcf7" type="hidden" value="170" />
        <input name="_wpcf7_version" type="hidden" value="4.5" />
        <input name="_wpcf7_locale" type="hidden" value="en_US" />
        <input name="_wpcf7_unit_tag" type="hidden" value="wpcf7-f170-o1" />
        <input name="_wpnonce" type="hidden" value="f9131ac2b9" /></p>
        <figure id="attachment_699" class="wp-caption aligncenter" style="width: 277px;">
            <img class="wp-image-699 size-medium" src="contents/data/2016/07/277x300xKelly-277x300.jpg.pagespeed.ic.hibFCMWdLA.jpg" sizes="(max-width: 277px) 100vw, 277px" srcset="contents/data/2016/07/Kelly-277x300.jpg 277w, contents/data/2016/07/Kelly.jpg 600w" alt="kelly" width="277" height="300" />
            <figcaption class="wp-caption-text">The Leading Hand demo will be sent straight to your inbox</figcaption>
        </figure>
    </form>
    <form class="wpcf7-form" action="../prospect.php?TESTING=DOWNLOAD&amp;product=LH" method="post" novalidate="novalidate">
        <input name="_wpcf7" type="hidden" value="170" />
        <input name="_wpcf7_version" type="hidden" value="4.5.1" />
        <input name="_wpcf7_locale" type="hidden" value="en_US" />
        <input name="_wpcf7_unit_tag" type="hidden" value="wpcf7-f170-o1" />
        <input name="_wpnonce" type="hidden" value="f9131ac2b9" />First Name <span style="display: inline; color: red;">*</span><br />
        <span class="wpcf7-form-control-wrap your-name">
            <input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="Firstname" size="40" type="text" value="" />
        </span><br />
        Last Name <span style="display: inline; color: red;">*</span><br />
        <span class="wpcf7-form-control-wrap last-name"><input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="Lastname" size="40" type="text" value="" /></span></p>
        <p>
            Street Address<br />
            <span class="wpcf7-form-control-wrap street-address"><input class="wpcf7-form-control wpcf7-text" name="Street_address" size="40" type="text" value="" /></span>
        </p>
        <p>
            Suburb<br />
            <span class="wpcf7-form-control-wrap suburb"><input class="wpcf7-form-control wpcf7-text" name="City" size="40" type="text" value="" /></span>
        </p>
        <p>
            State<br />
            <span class="wpcf7-form-control-wrap State"><input class="wpcf7-form-control wpcf7-text" name="State" size="10" type="text" value="" /></span>
        </p>
        <p>
            Postcode <span style="display: inline; color: red;">*</span><br />
            <span class="wpcf7-form-control-wrap postcode"><input class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" name="Postcode" size="40" type="text" value="" /></span>
        </p>
        <p>
            Country<br />
            <span class="wpcf7-form-control-wrap country"><input class="wpcf7-form-control wpcf7-text" name="Country" size="40" type="text" value="" /></span>
        </p>
        <p>
            E-mail <span style="display: inline; color: red;">*</span><br />
            <span class="wpcf7-form-control-wrap your-email"><input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" name="Email" size="40" type="email" value="" /></span>
        </p>
        <p>
            Telephone <span style="display: inline; color: red;">*</span><br />
            <span class="wpcf7-form-control-wrap telephone"><input class="wpcf7-form-control wpcf7-text" name="Phone" size="40" type="text" value="" /></span>
        </p>
        <p>
            How did you hear about The Leading Hand?<br />
            Please select all that apply:
        </p>
        <p><span class="wpcf7-form-control-wrap checkboxinfo"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first"><input name="IAME" type="checkbox" value="IAME" /> <span class="wpcf7-list-item-label">IAME</span></span><span class="wpcf7-list-item"><input name="Referral" type="checkbox" value="Referral" /> <span class="wpcf7-list-item-label">Referral</span></span><span class="wpcf7-list-item"><input name="MYOB" type="checkbox" value="MYOB" /> <span class="wpcf7-list-item-label">MYOB</span></span><span class="wpcf7-list-item"><input name="Reckon_Accounts" type="checkbox" value="Reckon Accounts" /> <span class="wpcf7-list-item-label">Reckon Accounts</span></span><span class="wpcf7-list-item last"><input name="Google" type="checkbox" value="Google" /> <span class="wpcf7-list-item-label">Google</span></span></span></span></p>
        <p>
            Other (please enter below)<br />
            <span class="wpcf7-form-control-wrap Other"><input class="wpcf7-form-control wpcf7-text" name="Other" size="40" type="text" value="" /></span>
        </p>
        <p><input class="wpcf7-form-control wpcf7-submit" type="submit" value="Send" /></p>
        <p>Note that the fields marked <span style="display: inline; color: red;">*</span> are mandatory</p>
    </form>
</div>

