
@{
    ViewBag.Title = "Product Features";
}

<h1>Product Features</h1>

<div>
    <h2>How will The Leading Hand help my business?</h2>
    <p>The Leading Hand is a complete workshop software management system. By using it you can create invoices and quotes, produce job-cards, book in and keep track of customers, and look at vehicle and plant maintenance histories. Optional modules help keep track of your stock, create purchase orders, manage fleets, show how your business is performing, and interface with accounting packages like MYOB, Reckon Accounts and Xero.</p>
</div>
<div>
    <h2>Job transactions</h2>
    <ul>
        <li>Easily progress from Quote to Job Card to Invoice</li>
        <li>Use templates to speed up office time</li>
        <li>Interface to Boyce's Autolibrary (purchased separately) for estimates and service schedules</li>
        <li>Interface to Repco Navigator (purchased separately)</li>
        <li>Comprehensive labour timing and tracking</li>
        <li>Keep track of many jobs simultaneously without having to close down a particular task or vehicle record before creating an Invoice or a Quote, or looking up customer information</li>
    </ul>
</div>
<div>
    <h2>Customers</h2>
    <ul>
        <li>Suit individual or corporate; mobile or multiple workshops</li>
        <li>Stay in touch: via SMS, email, phone and mail</li>
        <li>No time limit to customer and vehicle histories</li>
        <li>Have customer and vehicle histories from when start Leading Hand</li>
    </ul>
</div>
<div>
    <h2>Vehicle and Plant</h2>
    <ul>
        <li>Not just cars, but also motorcycles, trucks, forklifts, mining equipment, recreation vehicles, farm plant & vehicles, marine, caravan, aviation service equipment…</li>
        <li>Store details of vehicle and plant descriptions and service intervals</li>
        <li>Vehicle specifications: Interface to Boyce Autolibrary for estimates and service schedules, and to Repco Navigator for stock parts (each purchased separately)</li>
        <li>Personalise information and add photos and documents</li>
        <li>Provide full Fleet Management service (optional module)</li>
    </ul>
</div>
<div>
    <h2>Stock</h2>
    <ul>
        <li>Build up a record of regular items used</li>
        <li>Barcode support</li>
        <li>Suppliers’ database</li>
        <li>Stock Control module (optional module) for inventory and assemblies</li>
        <li>Extended Stock Control module (optional module) for purchase orders, multiple warehousing, serial number tracking</li>
    </ul>
</div>
<div>
    <h2>Accounts</h2>
    <ul>
        <li>Invoice, receipt and credit on the spot</li>
        <li>Full GST Support</li>
        <li>
            Link to
            <ul>
                <li>MYOB AccountRight Live- cloud and desktop</li>
                <li>Reckon Accounts - hosted and desktop</li>
                <li>Xero</li>
                <li>(each purchased separately)</li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <h2>Bookings</h2>
    <ul>
        <li>Book vehicles and plant for service and view diary for day, a week or a selected period of time</li>
        <li>Show technician and labour hours</li>
        <li>SMS reminders</li>
        <li>Loan car management system</li>
    </ul>
</div>
<div>
    <h2>RACV</h2>
    <p>If you are a RACV Accredited Auto Care Centre, The Leading Hand RACV Module will provide the RACV with information about your workshop as required by the scheme.</p>
</div>
<div>
    <h2>PLUS</h2>
    <p>The Leading Hand saves you money! <a href="theleadinghand.com/save-leading-hand/">Read</a> how a typical two person workshop can save$2,3000 per month.</p>
</div>
<div>
    <h3><strong>This is only a small taste of what The Leading Hand has to offer. To discuss how else it will assist your business, please @Html.ActionLink("Contact Us", "Contact", "Home").</strong></h3>
</div>
