
@{
    ViewBag.Title = "FAQ & Support";
}
<h2>FAQ's & Support</h2>
<div>
    <ul>
        <li>Confused by all the workshop management programs on the market? We’ll give you honest answers and help with your decision.</li>
        <li>Know all about cars, but not so much about computer programs? We can get you going.</li>
        <li>Want to know the best way to do a particular task? We can show you.</li>
        <li>Got some questions? We'll give you the answers.</li>
    </ul>

    <p><strong>The Leading Hand</strong> is designed to be easy to use and bring great benefits to your business, but you may have some questions. See if the answer is here or get in touch through our @Html.ActionLink("Contact page", "Contact").</p>
    <p> <br /> <img src="theleadinghand.com/contents/data/2016/08/instrument_cluster-300x260.png" alt="instrument_cluster" width="300" height="260" srcset="contents/data/2016/08/instrument_cluster-300x260.png 300w, contents/data/2016/08/instrument_cluster-768x665.png 768w, contents/data/2016/08/instrument_cluster-1024x887.png 1024w, contents/data/2016/08/instrument_cluster-100x87.png 100w, contents/data/2016/08/instrument_cluster.png 1270w" sizes="(max-width: 300px) 100vw, 300px" /></p>
</div>
<div>
    <h4><a href="#general">New to The Leading Hand</a></h4>
    <h4><a href="#licences">Licence Types</a></h4>
    <h4><a href="#equipment">Equipment needed</a></h4>
    <h4><a href="#packages">Accounting Packages</a></h4>
    <h4><a href="#users">Already using The Leading Hand</a></h4>
    <h4><a href="#sms">SMS</a></h4>
    <h4><a href="#iame">IAME Contact</a></h4>
    <h4><a href="#links">Links</a></h4>
</div>
<div>
    <p>To request assistance with The Leading Hand, please click here:<br />  <br /> @Html.ActionLink("Support Request Form", "Support")</p>
    <p><a href="theleadinghand.com/downloads/Leading Hand SMS.pdf" target="_blank" data-wplink-url-error="true">SMS</a></p>
</div>
<div>
    <p><a name="general"></a></p>
    <h2>New to The Leading Hand</h2>
    <p>I am interested in using The Leading Hand in my business and I have some questions:</p>
    <p> </p>
    <p><strong>How do I get my own Leading Hand?</strong></p>
    <p>The Leading Hand is available to rent or buy and comes in single and multi-user licences. For more information and pricing, go to @Html.ActionLink("Buy/Rent page", "BuyRent").</p>
    <p> </p>
    <p>If you rent Leading Hand and then decide to purchase within the first three months of use, the cost of One Month's rental will be deducted from the purchase price.  After that a sliding scale discount will be applied.</p>
    <p> </p>
    <p><strong>If I rent The Leading Hand am I tied to a contract?</strong></p>
    <p>You can rent the single-user licence of The Leading Hand for just one month.  You can then continue to rent or buy it outright.</p>
    <p> </p>
    <p><strong>Will I lose my data if I change my version of The Leading Hand?</strong></p>
    <p>None of your data will be lost when updating your version of The Leading Hand</p>
    <p>eg: getting a multi-user licence or adding more users, adding different modules, changing from Rental Version to Full Version.</p>
    <p> </p>
    <p><strong>How do I get to see The Leading Hand?</strong></p>
    <p>We have an online demo where you can watch a run-through of The Leading Hand.  This explains all aspects of the program.  There is no time limit and you can watch it as often as you like.</p>
    <p> </p>
    <p><strong>Can I trial The Leading Hand before I get my own licence?</strong></p>
    <p>Yes.  A 14 day free trial of The Leading Hand is available online that gives you most of the functionality of the full version.</p>
    <p>For more information about this trial version please @Html.ActionLink("Get in touch", "Contact").</p>
    <p> </p>
    <p><strong>How does the Leading Hand come to me?</strong></p>
    <p>The Leading Hand comes on CD, with a printed, easy-to-follow User Guide which gets you started and gives an overview of the program.  The comprehensive Help File provides more details.  Your Leading Hand licence can also be set up remotely.</p>
    <p> </p>
    <p><strong>Can I run Leading Hand in the Cloud?</strong></p>
    <p>Yes. The Leading Hand is designed to run on the desktop, but it can be run in the Cloud allowing you to access it from anywhere. We can help you set this up in a secure and safe environment.</p>
    <p> </p>
    <p><strong>How can I be sure my Leading Hand data is secure?</strong></p>
    <p>Installing Leading Hand on the desktop means your data is under your control.</p>
    <p>Data is backed up on USB stick.  The Leading Hand backup routine is very simple and we recommend you do this at least once a week.</p>
    <p> </p>
    <p><strong>If I get a single-user licence, can I use The Leading Hand on more than one computer?</strong></p>
    <p>With the single-user licence, Leading Hand can be installed on more than one computer, such as one at your place of business and one at home HOWEVER it can only be used on one of these at a time and your data will need to be kept up-to-date by following the backup/restore routine.  If you wish to use Leading Hand on more than one computer at the same time you need to get a multi-user licence.  This is available for Rent or for Purchase.</p>
    <p> </p>
    <p><strong>My Accountant wants me to provide my company figures into an accounting program. If I get The Leading Hand will I also have to manually enter my financial information?</strong></p>
    <p>If your accountant suggests you get a program like MYOB or Reckon Accounts, you can get the Cash Book interface module.</p>
    <p> </p>
    <p><strong>What type of support/assistance do I get with The Leading Hand?</strong></p>
    <p>Leading Hand support provides</p>
    <ul>
        <li>up to six hours for questions and training, via telephone, email and remote access per annum</li>
        <li>major and minor updates free of charge</li>
        <li>a monthly Tips & Tricks newsletter</li>
    </ul>
    <p>For Purchase customers, this is free for the first six months; after this you subscribe to the Yearly Support Service.</p>
    <p>For Rental customers support is covered for the term of the Rental.</p>
</div>
<h2>What our customers say about our support</h2>
<div>
    <p>
        <span>Whenever I ring for support, they always finds a way to make things work and they fit in really well with my timeframe.</span>
        <span> They've also customised Forms for me.</span>
    </p>
    <p><span><strong>Mecacycle Australia, Bowral NSW</strong></span></p>
</div>

<div>
    <p><span>The support is terrific. They always know what to do and always ring back if required.</span></p>
    <p><span><strong>Scherer Motor Repairs, Camden NSW</strong></span></p>
</div>
<div>
    <p><span>The support is really great. I have got myself in a mess a few times and the team were right there.</span></p>
    <p><span><strong>David Glock Automotive, Armidale NSW</strong></span></p>
</div>
<div>
    <p><a name="licences"></a></p>
    <h2>Licence Types</h2>
    <p>The Leading Hand comes in single and multi-user licence types.  There is no limit to the number of users you can have.  Users can be in same workshop, down the road or in another city.</p>
    <p><strong>I’m just starting out, with a one-man workshop, which Leading Hand licence is best for me?</strong></p>
    <p>At this stage you only need a single-user licence, without any options.  If cash flow is an issue, we suggest you get the rental licence, which is just $88.00 a month.  As business builds up on you could either stay with this or purchase outright.  Because you have been renting, there will be a discount on the purchase price.</p>
    <p><strong>I have an office manager who takes bookings, prints the day’s job cards, contacts customers to say their car is ready to pick, and issues the invoices and receipts.  In the workshop I want to add parts from stock to the job, allocate technicians and check the profit margins.  Our book-keeper wants our accounting program kept up to date.  Which Leading Hand licence would be best for me?</strong></p>
    <p>We suggest you get a multi-user licence for two users, with Stock Control and the CashBook interface.</p>
    <p>This way the office can enter bookings in the Leading Hand diary and print basic job cards from there.  Customers can be reminded by SMS or email their vehicle is to be brought in for service the next day.  When the vehicle is brought in, any extra servicing that is required can be added to the job.</p>
    <p>In the workshop you can check previous jobs in Leading Hand by looking at the customer history.  Technicians can be allocated to labour, and parts and other items added to the job.  If you want to advise a customer of future work that will be required this can be added to the Invoice.</p>
    <p>When finished, the office can SMS the customer to collect their car.  When the Invoice is issued and moneys Receipted the financial information is transferred to your accounting program without anyone spending extra time entering it manually.</p>
    <p><strong>I have a heavy freight business with workshops in more than one location.  I manage the fleets of various companies.  I want to be able to order in items for particular jobs.  Which Leading Hand should I get?</strong></p>
    <p>You should get a multi-user licence, for the linking of workshops managed by a Terminal Server, or you could use one of our Cloud providers.  The extra modules you will need are Stock Control Extended Stock Control and Fleet Management.</p>
    <h3>We are happy to discuss your requirements with you and come up with the best plan for your business.  And remember, as your business grows, The Leading Hand can grow with you.</h3>
    <p><a name="equipment"></a></p>
    <h2>Equipment</h2>
    <p>
        <strong>What equipment do I need to run The Leading Hand?</strong><br />
        You won't need to buy any special, expensive computer equipment. (Unless, of course, you want to!) Leading Hand software works on a standard PC running Windows.
    </p>
    <p><strong>Computer</strong></p>
    <ul>
        <li>Windows 7 and higher</li>
        <li>Memory: 1GB RAM</li>
        <li>CD-ROM Drive and mouse</li>
        <li>100 MB hard disk space</li>
    </ul>
    <p><strong>Printer</strong></p>
    <ul>
        <li>A good quality laser printer</li>
    </ul>
    <p><a name="packages"></a></p>
    <h2>Accounting Packages</h2>
    <p>
        <strong>Which accounting programs interface with The Leading Hand?</strong><br />
        (Accounting packages purchased separately)
    </p>
    <ul>
        <li>
            Single User:
            <ul>
                <li>MYOB AccountRight 19 and AccountRight Live (cloud &amp; desktop)</li>
                <li>Reckon Accounts Pro (hosted &amp; desktop)</li>
                <li>Xero</li>
            </ul>
        </li>
        <li>
            Multi-User:
            <ul>
                <li>MYOB Premier and AccountRight Live (desktop &amp; cloud)</li>
                <li>Reckon Accounts Premier</li>
                <li>Xero</li>
            </ul>
        </li>
    </ul>
    <p><a name="users"></a></p>
    <h2>Already using The Leading Hand</h2>
    <p><strong>What is the current Version of The Leading Hand?</strong></p>
    <p>Version 5.06</p>
    <p><strong>How to find out what type of licence you have, the version number and optional modules?</strong></p>
    <p>To find out what type of licence you have, go to the Help menu in Leading Hand and select About.  This will tell you what version you are using, whether you own or rent your licence and your optional modules.</p>
    <p><strong>How do I update my Leading Hand?</strong></p>
    <p>When a minor update is released it is emailed to the address you have provided, with login details and a password.  If you cannot find the latest update in your mail folder, please <a href="/contact/" target="_blank" rel="noopener">Get in touch</a>.</p>
    <p><strong>I have a single-user licence.  Can I use The Leading Hand on more than one computer?</strong></p>
    <p>With the single-user licence, Leading Hand can be installed on more than one computer, such as one at your place of business and one at home HOWEVER it can only be used on one of these at a time and your data will need to be kept up-to-date by following the backup/restore routine.  If you wish to use Leading Hand on more than one computer at the same time you need to get a multi-user licence.  This available for Rent or for Purchase.</p>
    <p><strong>How can I remind my customers they need to bring in their car for service?</strong></p>
    <p>When you add a car or plant item to Leading Hand, you can record the date of the next Service, the Rego date, and also at what time a service item needs to be checked (eg: oil, electrics, timing belts etc.)  By using these dates, you can see which customers need to come you in the next week, fortnight or coming months.  You can then send them an email or SMS advising they should make an appointment with you.</p>
    <p>Also, when your invoice a customer for a job, you can easily update the next Service date.</p>
    <p>
        <strong>To find out more about The Leading Hand</strong> SMS facility see below SMS on FAQ page<br />
        With this you can also remind your customer of a booking, thank them for using your business, and even advise of a special offer.
    </p>
    <p><strong>Can I do more than one task on my Leading Hand at the same time?</strong></p>
    <p>
        Yes.  The Leading Hand has what we call a multi-document interface; which is a fancy way of saying you can do multiple tasks on your Leading Hand.  For instance, you’re adding items to an Invoice and a customer rings to make a Booking.  All you need is go to the Booking section of Leading Hand, put the customer’s vehicle in the diary, and go back to the Invoice without having to close that screen.<br />
        <a name="sms"></a>
    </p>
    <h2>SMS</h2>
    <p><strong>The Leading Hand includes a facility by which you can SMS text messages to your customers.</strong> These can be to advise a customer to organise a service, a reminder of a booking, a thank you for a job. There is very little effort in initial set-up and the SMS Service is quick and efficient.</p>
    <p>For The Leading Hand SMS Service to work, your computer must be connected to the Internet. The SMS message to your customer is sent from The Leading Hand via the Internet to the AMPL SMS server. It is then sent to the recipient. These messages can be to individuals or a group. AMPL makes it possible for you to send such messages at a very low cost.</p>
    <p>To use The Leading Hand SMS Service, click the link to the SMS Service form, complete the required details and send to AMPL Software.</p>
    <p><a href="theleadinghand.com/downloads/Leading Hand SMS.pdf" target="_blank" rel="noopener">SMS SERVICE FORM</a></p>
</div>
<div>
    <p><em><span>The Leading Hand SMS facility is fabulous. We use it to remind the customer their car is booked in the next day and to let them know their car is ready. Our customers really appreciate the extra service. All this, with the click of the button!</span></em></p>
    <p><strong>Better Performance, Margate TAS</strong></p>

</div>















