
@{
    ViewBag.Title = "Trial";
}

<h2>Trial</h2>

<div>
    <h2>How can I try The Leading Hand?</h2>
    <p>There are two ways you can trial the Leading Hand</p>
    <p>One is a 14 day online trial. With this trial you have full access to all parts of the Leading Hand program. You are given a default workshop name of MY WORKSHOP.  If you use real data for your trial, it can be accessed if you then decide to buy or rent Leading Hand. </p>
    <p>To find out more, please @Html.ActionLink("Contact Us", "Contact") </p>
    <p> </p>
    <p>The other way to trial Leading Hand is to get a rental licence.  This starts from $88.00 per month, and can be for just one month.  You are sent an installation disc and manual and register under your own Workshop name.  You have full access to all parts of the program.</p>
    <p>If you decide to purchase within the first three months of renting, the cost of One Month's rental will be deducted from the purchase price.  After that a sliding scale discount will be applied.  Or, you can just keep on renting.  Some of our customers having been renting for more than 10 years.</p>
    <p>To rent The Leading Hand go to @Html.ActionLink("Rental Page", "Rental")</p>

</div>