
@{
    ViewBag.Title = "PaidProperly";
}

<h1>Are you getting paid properly for what you do?</h1>


<div>Posted on 31/08/2017 &bull; @Html.ActionLink("Are you getting paid properly for what you do? &ndash; Comments", "PaidProperly")>0 Comments</div>
<div>
    <p><strong>An important part of any business is making sure you get paid properly for the work you do. More than just money in the bank, the long-term survival of your workshop is at stake.</strong></p>
    <p>Lots of computer programs help achieve this. With them you can itemise the work done, and record the payment.</p>
    <p>But you want more than just that:</p>
    <ul>
        <li>You want to be sure that on the invoice you remember to put in all you have done, and that you make a decent profit with each item.</li>
        <li>And you want to make it easy to remember everything the next time you do the job.</li>
        <li>And you want to be sure that everyone else in the business knows what they have to do.</li>
        <li>And you want to be sure they are doing it efficiently without wasting time or money.</li>
        <li>And it would be good to know which customers are of most value to you.</li>
    </ul>
    <p>The Leading Hand workshop management program makes all of this possible.</p>
    <p>When you make a Leading Hand invoice items are listed on the screen. <strong>This way you can easily run through your labour, supply and other consumables. </strong></p>
    <p>To look at the detail of any item, just highlight and open.  This detail will be shown on the printed invoice. In the case of Labour, the customer can see all that has been done. (And when it is used as a job card, you can be sure your staff follow all the steps and parts required.)</p>
    <p>And as you make your invoice you can <strong>check the profit levels</strong>.</p>
    <p>Typical jobs, like 10,000km Service or a Roadworthy Inspection, can be saved as <strong>Quick Invoice</strong>/Templates in your Leading Hand.  By making these, you don’t have to remember each time what is required. Items can be edited if required, and extra added.</p>
    <p>Also, if special items such as an Environmental Levy should be added to most invoices, you can have this in your quick invoice list as well.</p>
    <p>In the latest Leading Hand (V5.05) you can make a report based on these typical jobs so you can check the jobs you do the most and the value of each. From this you could perhaps run a deal of some sort, encouraging more customers to make use of your special service.</p>
    <p><strong>Another aspect of getting paid for what you are worth is checking the time it takes to do a job, and whether you’re charging the correct amount. </strong></p>
    <p>With the Labour Timer, technicians can clock on and off as they do a job. That way you can check they are working actively and well. And, if you find they are taking longer than expected you can check your processes. Are they correctly explained? Is there some way the workshop is laid out that hinders smooth movement around cars? Or do you need to adjust your labour rates?</p>
    <p>If you don’t want to use the Labour Timer, hours taken can be written on the job card and added later.</p>
    <p>To check your overall financials, the Leading Hand generates <strong>reports that show the profit and sales</strong> you make over a period of time, from a particular customer</p>
    <p>If you want to drill right down into how your workshop is going, Leading Hand has a <strong>Business Analysis Pack</strong>. This module provides performance figures for your workshop. With it you get to see the number of new customers you get each month; the average number of purchases per customer; the average value of each invoice; the average gross margins on products and services; and the average number of years your customers do business with you.</p>
    <p>By using these parts of The Leading Hand, you can be sure your business is there for the long-haul.</p>
    <p>As one of our users has said, <em>The Leading Hand is great.  By having it in my workshop I can keep track of what I am doing, and the money I am earning. </em></p>
    <div class="sharedaddy sd-sharing-enabled">
        <div>
            <h3>Share this:</h3><div>
                <ul>
                    <li class="share-facebook"><div class="fb-share-button" data-href="2017/08/31/getting-paid-properly/" data-layout="button_count"></div></li>
                    <li class="share-twitter"><a href="twitter.com/share" class="twitter-share-button" data-url="2017/08/31/getting-paid-properly/" data-text="Are you getting paid properly for what you do?">Tweet</a></li>
                    <li class="share-pinterest"><div class="pinterest_button"><a href="www.pinterest.com/pin/create/button/?url=http%3A%2F%2F%2F2017%2F08%2F31%2Fgetting-paid-properly%2F&#038;media=http%3A%2F%2F%2Fwp-content%2Fuploads%2F2017%2F08%2FCreditCard.jpg&#038;description=Are%20you%20getting%20paid%20properly%20for%20what%20you%20do%3F" data-pin-do="buttonPin" data-pin-config="beside"><img src="assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a></div></li>
                    <li class="share-google-plus-1"><div class="googleplus1_button"><div class="g-plus" data-action="share" data-annotation="bubble" data-href="2017/08/31/getting-paid-properly/"></div></div></li>
                    <li class="share-linkedin">
                        <div class="linkedin_button">
                            <script type="in/share" data-url="2017/08/31/getting-paid-properly/" data-counter="right">
                            </script>
                        </div>
                    </li>
                    <li class="share-end"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer>Filed Under: <a href="category/uncategorized/" rel="category tag">Uncategorized</a></footer>
