
@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<div>
    <p><strong>The Leading Hand</strong> is owned, developed and supported by <strong>AMPL Software Pty Ltd</strong>, an Australian owned and operated company, based in Sydney, NSW.</p>
    <p>Tim Shea, the Managing Director, set up AMPL Software in 1984 to service the needs of the burgeoning microcomputer industry. Since then the company has become a leader in the field of software development, being at the forefront of changes in technology.</p>
    <p>The Leading Hand Project goes back more than 25 years. The Institute of Automotive Engineers (IAME) wanted a reliable, easy-to-use and competitively priced computer software program to supply to its members and The Leading Hand was born.</p>
    <p>Since its release in 1992, the Leading Hand has helped workshops maintain control of their business and finances, and keep customers coming back. It is used around Australia and internationally, and not just by those in the automotive industry, but also those who service marine, plant and mining equipment, just to name a few.</p>
    <p>At AMPL, we know what it’s like running a business; juggling the needs of the office with those of a workshop (or, as in our case, support and development team). You want to be sure each job is done properly so systems run smoothly and customers know they are important to you.</p>
    <p>The Leading Hand’s track record shows our dedication to understanding and serving the automotive and plant industry by ensuring our workshop management system is the best on the market. And we encourage input from our users to help the program grow and develop.</p>
    <p>Chances are a workshop you know is using The Leading Hand. Our users can rely on The Leading Hand, and you can too.</p>
    <p><strong>The Leading Hand is the only workshop management software program fully endorsed by the IAME.</strong></p>
</div>
<div>
    <a href="www.ampl.com.au/" target="_blank" rel="noopener noreferrer">
        <img src="contents/data/2016/07/488x212xampl_logo.jpg.pagespeed.ic.XgiUcPTGt9.jpg" width="488" height="212" srcset="contents/data/2016/07/ampl_logo.jpg 488w, contents/data/2016/07/ampl_logo-300x130.jpg 300w" sizes="(max-width: 488px) 100vw, 488px" class="so-widget-image" />
    </a>
</div>

<div>
    <a href="www.iame.com.au/" target="_blank" rel="noopener noreferrer">
        <img src="contents/data/2016/07/500x407xIAME-logo.png.pagespeed.ic.__CIFhPg4T.png" width="500" height="407" srcset="contents/data/2016/07/IAME-logo.png 500w, contents/data/2016/07/IAME-logo-300x244.png 300w" sizes="(max-width: 500px) 100vw, 500px" title="IAME logo" class="so-widget-image" />
    </a>
</div>
