
@{
    ViewBag.Title = "Contact Us";
}

<h2>Contact</h2>
<div>
    <p>
        Got a  question about The Leading Hand?  Please send an email or give us a call.
    </p>
    <br />
    <p>
        Your Name <span style="display:inline;color:red;">*</span><br />
        <input type="text" name="your-name" value="" size="40" aria-required="true" aria-invalid="false" />
    </p>
    <p>
        Your Email <span style="display:inline;color:red;">*</span><br />
        <input type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false" />
    </p>
    <p>
        Your Subject <span style="display:inline;color:red;">*</span><br />
        <input type="text" name="your-subject" value="" size="40" aria-required="true" aria-invalid="false" />
    </p>
    <p>
        Your Message<br />
        <textarea name="your-message" cols="40" rows="10" aria-invalid="false"></textarea>
    </p>
    <p><input type="submit" value="Send" /></p>
    <p>Note that the fields marked <span style="display:inline;color:red;">*</span> are mandatory</p>

    <div>
        <p>
            <iframe style="border: 0;" src="www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13274.426270096284!2d151.142233!3d-33.719128!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x548d189a88f0e267!2sAMPL+Software!5e0!3m2!1sro!2sro!4v1472566876237" width="400" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            <br />  <br /> <strong>AMPL SOFTWARE PTY LTD</strong><br />110 Trevor Housley Avenue<br /> Bungarribee NSW 2767 AUSTRALIA
        </p>
        <p><strong>Phone<br /> </strong> (02) 9440 0269 (+61 2 9440 0269)</p>
        <p><strong>Email</strong></p>
        <p><a href="mailto:lhand@ampl.com.au"><u>lhand@ampl.com.au</u></a></p>
    </div>
    <div>
        <a href="www.ampl.com.au/" target="_blank" rel="noopener noreferrer">
            <img src="contents/data/2016/07/500x250xLH-AMPL-logo.jpg.pagespeed.ic.kogsPElefZ.jpg" width="500" height="250" srcset="contents/data/2016/07/LH-AMPL-logo.jpg 500w, contents/data/2016/07/LH-AMPL-logo-300x150.jpg 300w" sizes="(max-width: 500px) 100vw, 500px" class="so-widget-image" />
        </a>
    </div>
    <div class="sow-image-container">
        <a href="www.iame.com.au/" target="_blank" rel="noopener noreferrer">
            <img src="contents/data/2016/07/500x250xLH-IAME-logo.jpg.pagespeed.ic.QiFlgSOr7V.jpg" width="500" height="250" srcset="contents/data/2016/07/LH-IAME-logo.jpg 500w, contents/data/2016/07/LH-IAME-logo-300x150.jpg 300w" sizes="(max-width: 500px) 100vw, 500px" class="so-widget-image" />
        </a>
    </div>
</div>

<div class="siteorigin-widget-tinymce textwidget">
    <p style="text-align: left; font-size: 14px;">The Leading Hand is developed and supported by AMPL Software and endorsed by the IAME.</p>
</div>
<div>
    <a href="">Home</a>
    <a href="product-features/">Product Features</a>
    <a href="case-studies/">Case Studies</a>
    <a href="free-demo/">Free Demo</a>
    <a href="buyrent/">Pricing</a>
    <a href="faq-support/">FAQ’s &#038; Support</a>
    <a href="blog/">Blog</a>
    <a href="about/">About Us</a>
    <a href="contact/">Contact</a>
</div>
<h3><span class="widget-inner">Contact Us</span></h3>
<div>
    P: (02) 9440-0269<br>
    E: lhand@ampl.com.au<br>
    A: 3 McRae Place Turramurra NSW 2074 AUSTRALIA
</div>
<div>
    <a href="www.facebook.com/theleadinghand/" target="_blank"></a>
    <a href="www.youtube.com/watch?v=d4JnIEnCk4A" target="_blank"></a>
</div>
<div data-href="www.facebook.com/theleadinghand/" data-width="340" data-height="432" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
    <blockquote cite="www.facebook.com/theleadinghand/"><a href="www.facebook.com/theleadinghand/"></a></blockquote>
</div>



