
@{
    ViewBag.Title = "Privacy";
}

<h1>Privacy</h1>

<div>
    <h2>Your Privacy</h2>
    <p>AMPL Software, the maker of The Leading Hand, is committed to privacy. We do not sell or release any information about our customers to any third party.</p>
    <h2>Cookies</h2>
    <p>
        A &#8220;cookie&#8221; is information stored on your computer by a web server and is used to customise your web service. Our web site does not support the use of &#8220;cookies&#8221;.<br />
        No hidden information is sent or collected via our web site.<br />
        The only information we receive are the details you choose to provide us with when completing our on-line forms.
    </p>
    <h2>On-Line Forms</h2>
    <p>When using our on-line forms we will ask you to provide personal contact details. This information is used for in-house purposes only and is not divulged to any another company or agency.</p>
</div>
